<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findex</title>
    <style>
        .l{
            background-color: blue;
            color:black;
            padding:20px;
            border-radius: 8px;
            border: none;
            font-size: 20px ;
            margin: 15px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <br>
    <br><div>
    <a href="/hello" target="frame2"><button class='l'>Home</button></a>
    <br>

    <a href="/view_record" target="frame2" ><button class='l'>View records</button></a>
    <br>
    <a href="/view_assignment" target="frame2"><button class='l'>View assignments</button></a>
    <br>
    <a href="/update_attendance" target="frame2"><button class="l">Update attendance</button></a>
    <br>
    <a href="/logout" target="/"><button class='l'>Log out</button></a>
</body>
</html>