<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        body{
        background-image: url('/static/1.jpg'); 
        background-size: cover;
        text-align: center;
       }
        form{
            margin-top: 20px;
        }
    </style>
</head>
<body style="margin-top: 15%;">
    <center> <h1>REGISTER</h1> </center>
     <center>
        <table>
    <form action="/register" method="POST">
        <labek>USER NAME  :</labek><input type="text" name="name"><br>
        <br>
        <label>ROLLNUMBER :</label><input type="text" name="rollno"><br>
        <br>
        <label>PASSWORD   :</label><input type="password" name="password">
        <br>
        <br>
        <input type="submit" value="Register">
<br>
        <a href="/login">Already have an account?</a>

    </form>
    </table>
</center>
<center>
    {% if error %}
           <p style="color: red;">{{ error }}</p>
    {% endif %}
</center>
</body>
</html>